<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" position="end">
      <mat-card>
        <mat-card-title>Trends</mat-card-title>
        <mat-card-content>
          FOLLOW THIS HASTAG
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Who to Follow</mat-card-title>
        <mat-card-content>
          MATTER TO FOLLOW
        </mat-card-content>
      </mat-card>
    </mat-sidenav>
  </mat-sidenav-container>
  
