<app-menubar></app-menubar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button (click)="navigate('/feed')" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdminUser">
          <button (click)="navigate('/profiles')" mat-button><mat-icon>account_circle</mat-icon>Profiles</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button (click)="logout()"><mat-icon>help</mat-icon> Log out</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 800px;">
            <div class="feed-box">
                <div class="feed-tweet">
                    <send-tweet (tweetCreated)="handleTweetCreation($event)"></send-tweet>
                    <button mat-button (click)="getAllTweets()"><mat-icon>help</mat-icon> GetAllTweets</button>
                    <!-- Handle empty list -->
                    <div *ngIf="tweetList.length === 0">
                        No tweets to display.
                    </div>

                    <div class="tweet-container" *ngFor="let tweet of tweetList">
                        <tweet-card [isAdmin]="isAdminUser" [tweet]="tweet" (tweetDeleted)="handleTweetDeleted($event)"></tweet-card>
                    </div>

                </div>
                <side-card></side-card>
            </div>

        </div>
    </mat-drawer-content>
</mat-drawer-container>

